/* STYLES POUR LE DOSSIER montjean_cinema_vr - PHP procdural */

/* Liens pour conversion couleurs */
/* http://hex2rgba.devoth.com/ */
/* https://web-color.aliasdmc.fr/couleur-web-black-avec-transparence.html */
/* https://cssgenerator.org/rgba-and-hex-color-generator.html */

/* CODES COULEURS DE LA CHARTE GRAPHIQUE : 6 couleurs */
/* TYPO : noir : #000000  ; rgba(rgba(0, 0, 0, 1))  */
/* TYPO : bleu nuit : #110D2C; rgba(17,13,44,1) */
/* FOOTER : bleu marine : #3340A7; rgba(51,64,167,1) */
/* BUTTONS : bleu royal : #3A3CDC;  rgba(58,60,220,1) */
/* BCG : bleu ciel : #5D83D5; rgba(93,131,213,1) */
/* BCG, typo : gris clair : #E0E4EF; rgba(224,228,239,1) */

/* INFOS TRAITEMENTS DES IMAGES : */
/* taille img pour carousel : 1920x1080jpg = export depuis PSD pour web au format png, resolution 72 : H233 x W315 */
/* taille des affiches (pour les cards) : */


body {
    font-family: 'Barlow', bold, sans-serif;
    color: #110D2C;
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Michroma', sans-serif;
    color: #110D2C;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/* .bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

footer {
    font-family: 'Michroma', sans-serif;
}

/* styles pour les nav */
/* a:link {
    text-decoration: none;
} */

.nav-link {
    font-size: 0.9em;
    letter-spacing: 2px;
}

/* animation du h1 de la page accueil */
.battement {
    margin: 50px;
}

.bouton {
    background-color: #E0E4EF;
    text-align: center;
    padding: 0.5em 0.5em;
    border-radius: 1px;
    animation: battement 5s infinite cubic-bezier(.66, 0, 0, 1);
}

 @keyframes battement {
    from {
        box-shadow: 0 0 5px -15px rgba(17,13,44,1), 0 0 5px -5px rgba(17,13,44,0);
    }

    to {
        box-shadow: 0 0 5px 10px rgba(224,228,239,1), 0 0 5px 15px rgba(224,228,239,0);
    }   
}

.cache {
    display: none;
  }


