/* styles pour le dossier montjean_cinema_vr en PHP */

/* Couleurs charte graphique : 6 couleurs */

/* noir : #000000  */
/* bleu nuit : #110D2C;  */
/* bleu marine : #3340A7;  */
/* bleu royal : #3A3CDC;  */
/* bleu ciel : #5D83D5;  */
/* gris clair : #E0E4EF; */


body {
    font-family: 'Michroma', bold, sans-serif;
    color: #110D2C;
    background-color: #E0E4EF;
    font-size: 1.5em;
}

.navbar {
    color: #E0E4EF;
}


footer{
    background-color: #E0E4EF;
}

h1, h2, h3, h4 {
    font-family: 'Barlow', sans-serif;
}



